/* src/index.css */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Paleta "Premium Dashboard" extraída de tu imagen */
  --color-bg-base: #1c1a19;   /* El gris muy oscuro del fondo */
  --color-bg-panel: #292624;  /* El gris de las tarjetas y paneles */
  --color-primary: #f2d675;   /* El amarillo mostaza de los botones */
  --color-secondary: #a9d4b1; /* El verde menta para acentos/iconos */
  --color-tertiary: #c1dbb8;
  
  --color-text-main: #ffffff;
  --color-text-muted: #9aa0a6;
  --color-text-dark: #1c1a19; /* Para leer bien el texto sobre los botones amarillos */

  --radius-main: 24px;
  --radius-btn: 12px;

  /* Sombras 3D adaptadas a Modo Oscuro */
  --shadow-outer: 6px 6px 16px rgba(0, 0, 0, 0.4), -4px -4px 12px rgba(255, 255, 255, 0.03);
  --shadow-inner: inset 4px 4px 8px rgba(0, 0, 0, 0.4), inset -2px -2px 6px rgba(255, 255, 255, 0.03);
  --shadow-pressed: inset 6px 6px 12px rgba(0, 0, 0, 0.6), inset -2px -2px 6px rgba(255, 255, 255, 0.02);
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-main);
  font-family: 'Inter', system-ui, sans-serif;
  min-height: 100vh;
  max-width: 100vw; 
  overflow-x: clip; /* Control de desbordamiento horizontal */
}